section { display:block; position:relative; min-height: 700px;  position: relative;
    text-align:center;
    text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -1px black;
    color:#FFF;
    font-weight:bold;
    width:100%; }


.trigger-scroll {
    box-sizing: border-box;
    display: inline-block;
    border: 1px #f60 solid;
    background: #f96;
    bottom: 20px;
    width: 34px;
    height: 34px;
    position: fixed;
    right: 20px;
    padding: 8px 10px;
    transition: transform 500ms ease-in-out;
    z-index: 50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
    color: #fff;
    font-family: verdana;
    font-size: 1em;
    line-height: 1;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.8;
    box-shadow: 1px 0px 1px 1px rgba(102,51,0, .25);   
 }
.trigger-scroll:hover { background: #f60; border-color: #c30; }
.trigger-scroll.go-to-top {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.hero-banner{

    position: relative;
    text-align:center;
    color:#FFF;
    font-weight:bold;
    width:100%;

}


#explore{ 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}
    
}

body{
    margin:0;
    padding:0;
    background-color:#888888 ;
}



strong{
    font-weight:bold;
}

#explore{
    font-weight:800;
    font-family:"Lucida Console";
    font-size:45px;
    letter-spacing:2px;
}

img{
    width:100%;
}

#explore2{ 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;  
    font-weight:800;
    font-family:"Lucida Console";
    font-size:125px;
    letter-spacing:2px;
}

strong{
    font-weight:bold;
    color: #660099;
}
