section { display:block; position:relative; min-height: 700px; }
.trigger-scroll {
    box-sizing: border-box;
    display: inline-block;
    border: 1px #f60 solid;
    background: #f96;
    bottom: 20px;
    width: 34px;
    height: 34px;
    position: fixed;
    right: 20px;
    padding: 8px 10px;
    transition: transform 500ms ease-in-out;
    z-index: 50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
    color: #fff;
    font-family: verdana;
    font-size: 1em;
    line-height: 1;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.8;
    box-shadow: 1px 0px 1px 1px rgba(102,51,0, .25);   
 }
.trigger-scroll:hover { background: #f60; border-color: #c30; }
.trigger-scroll.go-to-top {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}